body {
  background-image: url('https://images.hdqwalls.com/download/simple-background-2560x1440.jpg');
  color: white;
  font-family: 'Cantarell', sans-serif;
  font-size: 25px;
  margin: 225px;
}

nav {
  display: flex;
  justify-content: space-between;
}

section {
  display: flex;
  justify-content: center;
}

#simon-console {
  display: block;
  text-align: center;
  /* border: solid 5px white; */
  /* border-radius: 250px;
  width: 515px; */
}

.simon-button {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

#top-left {
  border-top-left-radius: 250px;
  border: groove darkgray 10px;
  background-color: blue;
}

#top-left:active {
  background-image: radial-gradient(farthest-corner at 50% 50%, rgba(0, 0, 255, 0), rgba(0, 0, 255, 1));
  transform: translateY(8px);
}

#top-right {
  border-top-right-radius: 250px;
  border: groove darkgray 10px;
  background-color: yellow;
}

#top-right:active {
  background-color: radial-gradient(farthest-corner at 50% 50%, rgba(255, 255, 0, 0), rgba(255, 255, 0, 1));
  transform: translateY(8px);
}


#bottom-left {
  border-bottom-left-radius: 250px;
  border: groove darkgray 10px;
  background-color: red;
}

#bottom-right {
  border-bottom-right-radius: 250px;
  border: groove darkgray 10px;
  background-color: green;
}

footer {
  display: flex;
  justify-content: center;
}
