body {
  background-image: url('https://images.hdqwalls.com/download/simple-background-2560x1440.jpg');
  color: white;
  font-family: 'Cantarell', sans-serif;
  font-size: 25px;
  margin: 225px;
  margin-top: 50px;
  min-width: 507px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.game-info {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px rgba(0, 0, 0, 0.5);
  padding: 20px 30px 20px 30px;
  box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.8);
}

.game-scores {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px rgba(0, 0, 0, 0.5);
  padding: 20px 30px 20px 30px;
  box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.8);
}

.middle-section {
  display: flex;
  justify-content: center;
}

#simon-console {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 507px
}

.simon-button {
  width: 250px;
  height: 250px;
  cursor: pointer;
}


.top-left {
  border-top-left-radius: 250px;
  border: groove blue 10px;
  background-color: blue;
}

.top-left:hover {
  background-color: skyblue;
}

.top-left:active {
  background-color: white;
  transform: translate(4px, 4px);
}

.top-right {
  border-top-right-radius: 250px;
  border: groove yellow 10px;
  background-color: yellow;
}

.top-right:hover {
  background-color: lemonchiffon;
}

.top-right:active {
  background-color: white;
  transform: translate(-4px, 4px);
}

.bottom-left {
  border-bottom-left-radius: 250px;
  border: groove red 10px;
  background-color: red;
}

.bottom-left:hover {
  background-color: lightcoral;
}

.bottom-left:active {
  background-color: white;
  transform: translate(4px, -4px);
}

.bottom-right {
  border-bottom-right-radius: 250px;
  border: groove green 10px;
  background-color: green;
}

.bottom-right:hover {
  background-color: lightgreen;
}

.bottom-right:active {
  background-color: lightgreen;
  transform: translate(-4px, -4px);
}

.active {
  background-color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 130px;
  border: solid dimgray 5px;
  background-color: black;
  position: absolute;
  /* top: 125px;
  left: 275px; */
  z-index: 1;
}

h2 {

}

footer {
  display: flex;
  justify-content: center;
  min-width: 507px
}

.game-menu button {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px 30px 10px 30px;
  color: white;
  font-family: 'Cantarell', sans-serif;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.8);
}

div h1 {
  margin: 5px 0px 5px 0px;
}

#high-score h4 {
  margin: 10px 0px 10px 0px;
}

#round h3 {
  margin: 0px
}

#timer h4 {
  margin: 10px 0px 10px 0px;
}

div p {
  margin: 0px;
}
