body {
  background-image: url('https://images.hdqwalls.com/download/simple-background-2560x1440.jpg');
  color: white;
  font-family: 'Cantarell', sans-serif;
  font-size: 25px;
  margin: 225px;
  margin-top: 50px;
  min-width: 650px;
}

nav {
  display: flex;
  justify-content: space-between;
}

section {
  display: flex;
  justify-content: center;
}

#simon-console {
  display: block;
  text-align: center;
  /* border: solid 5px white; */
  /* border-radius: 250px;
  width: 515px; */
}

.simon-button {
  width: 250px;
  height: 250px;
  cursor: pointer;
}


.top-left {
  border-top-left-radius: 250px;
  border: groove darkgray 10px;
  background-color: blue;
}

.top-left:hover {
  background-color: skyblue;
}

.top-left:active {
  background-color: white;
  transform: translate(4px, 4px);
}

.top-right {
  border-top-right-radius: 250px;
  border: groove darkgray 10px;
  background-color: yellow;
}

.top-right:hover {
  background-color: lemonchiffon;
}

.top-right:active {
  background-color: white;
  transform: translate(-4px, 4px);
}


.bottom-left {
  border-bottom-left-radius: 250px;
  border: groove darkgray 10px;
  background-color: red;
}

.bottom-left:hover {
  background-color: lightcoral;
}

.bottom-left:active {
  background-color: white;
  transform: translate(4px, -4px);
}

.bottom-right {
  border-bottom-right-radius: 250px;
  border: groove darkgray 10px;
  background-color: green;
}

.bottom-right:hover {
  background-color: lightgreen;
}

.bottom-right:active {
  background-color: white;
  transform: translate(-4px, -4px);
}

.active {
  background-color: white;
}

footer {
  display: flex;
  justify-content: center;
}

div h1 {
  margin: 5px 0px 5px 0px;
}

#high-score h4 {
  margin: 10px 0px 10px 0px;
}

#round h3 {
  margin: 0px
}

#timer h4 {
  margin: 10px 0px 10px 0px;
}

div p {
  margin: 0px;
}
